version: '3.8'

services:
  frontend:
    build: ./frontend
    container_name: frontend
    restart: always
    ports:
      - "3000:80" # Maps localhost:3000 to internal Nginx port 80
  
  backend:
    build: ./backend
    container_name: backend
    ports:
      - "8000:8000"
    environment:
      - LH_DB_URL
      - PGD_DB_URL
      - SCHEMA_NAME
    restart: always