version: '3.8'

services:
  api:
    build: .
    container_name: transaction_api
    ports:
      - "8000:8000"
    environment:
      # Pass your actual DB connection string here
      - DATABASE_URL=postgres://username:password@your-remote-host.com:5432/your_db_name
    restart: always